<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE-edge,chrome=1">
	<title>Todo App</title>
</head>
<body>

	<section id="todoapp">
		<header id="header">
			<h1>todos</h1>
			<input id="new-todo" placeholder="What needs to be done?" autofocus>
		</header>
		<section id="main">
			<input id="toogle-all" type="checkbox">
			<label for="toggle-all">Mark all as complete</label>
			<ul id="todo-list"></ul>
		</section>
		<footer id="footer"></footer>
	</section>
	<div id="info">
		<p>Double click to edit a todo</p>
		<p>Copied for learning purpose only by <a href="https://github.com/mohit4">Mohit Kumar</a></p>
	</div>

	<!-- Javascript templates -->
	<script type="text/template" id="item-template">
		<div class="view">
			<input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>>
			<label><%- title %></label>
			<button class="destroy"></button>
		</div>
		<input class="edit" value="<%- title %>">
	</script>
	<script type="text/template" id="stats-template">
		<span id="todo-count"><strong><%= remaining %></strong>
		<%= remaining === 1 ? 'item' : 'items' %> left </span>
		<ul id="filters">
			<li>
				<a class="selected" href="#/">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>
		<% if (completed) { %>
		<button id="clear-completed">Clear completed (<%= completed %>)</button>
		<% } %>
	</script>

	<!-- library references -->
	<script src="js/lib/jquery-3.1.1.min.js"></script>
	<!-- 
	<script
			  src="https://code.jquery.com/jquery-1.12.4.min.js"
			  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
			  crossorigin="anonymous"></script>
	-->
	<script src="js/lib/underscore-min.js"></script>
	<script src="js/lib/backbone-min.js"></script>
	<script src="js/lib/backbone.localStorage.js"></script>

	<!-- models -->
	<script src="js/models/todo.js"></script>

	<!-- collections -->
	<script src="js/collections/todos.js"></script>

	<!-- views -->
	<script src="js/views/todos.js"></script>
	<script src="js/views/app.js"></script>

	<!-- routers -->
	<script src="js/routers/router.js"></script>

	<!-- central initialization code -->
	<script src="js/app.js"></script>

</body>
</html>